html {
    background: url(images/wood-background)
}

h1 {
    text-align: center;
    font-family: cursive;
    margin-top: 70px;
    font-size: 80px;
    color: rgb(54, 32, 3);
}

#shelf {
    display:flex;
    align-items:flex-end;
}

#shelf > div {
    border: 4px solid black;
    background-color: brown;
    color: gold;
    font-family: cursive;
    font-size: 20px;
    writing-mode: sideways-lr;
}

#left {
    background: url(images/plank.jpg);
    height: 50px;
    width: 30px;
    margin-left: 10%;
}

#right {
    background: url(images/plank.jpg);
    height: 50px;
    width: 30px;
    margin-right: 10%;
}

#under {
    background: url(images/plank.jpg);
    height: 30px;
    margin: 0 10% auto 10%;
}